{% extends "base.html" %}

{% block title %}
    /{{ board.name }}/ - {{ board.description }}
{% endblock %}

{% block content %}
    <h1>/{{ board.name }}/ - {{ board.description }}</h1>
    
    {% if current_user.is_authenticated %}
        <form action="{{ url_for('main.new_thread', board_name=board.name) }}" method="post" enctype="multipart/form-data">
            <input type="text" name="subject" placeholder="Subject">
            <textarea name="content" required placeholder="Comment"></textarea>
            <input type="file" name="image" accept="image/*">
            <button type="submit">Create Thread</button>
        </form>
    {% else %}
        <div class="login-prompt">
            <p>You need to <a href="{{ url_for('auth.login') }}">login</a> or 
               <a href="{{ url_for('auth.register') }}">register</a> to create threads.
            </p>
        </div>
    {% endif %}

    <!-- <form action="{{ url_for('main.new_thread', board_name=board.name) }}" method="post" enctype="multipart/form-data">
        <input type="text" name="subject" placeholder="Subject">
        <textarea name="content" required placeholder="Comment"></textarea>
        <input type="file" name="image" accept="image/*">
        <button type="submit">Create Thread</button>
    </form>
     -->
    {% for thread in threads %}
        <div class="thread-preview">
            <h3>{{ thread.subject }}</h3>
            {% if thread.image_path %}
                <img src="{{ url_for('static', filename='uploads/' + thread.image_path) }}" alt="Thread image">
            {% endif %}
            <p>{{ thread.content }}</p>
            <a href="{{ url_for('main.thread', board_name=board.name, thread_id=thread.id) }}">
                Reply ({{ thread.posts|length }} responses)
            </a>
        </div>
    {% endfor %}
{% endblock %}
