{% extends "base.html" %}

{% block title %}
    {{ board.name }} - {{ board.description }}
{% endblock %}

{% block content %}
    <h1>{{ board.name }} - {{ board.description }}</h1>
    
    {% if current_user.is_authenticated %}
        <form action="{{ url_for('main.new_thread', board_name=board.name) }}" method="post" enctype="multipart/form-data">
            <h3>Create a new Thread</h3>
            <input type="text" name="subject" placeholder="Subject">
            <textarea name="content" required placeholder="Comment"></textarea>
            <span class="file-name">No file chosen</span>
            <div class="form-bottom">
                <div class="file-selector">
                    <label class="custom-file-upload">
                        <input class="file-selector-input" type="file" name="image" accept="image/*">
                        <p>Choose file</p>
                    </label>
                </div>
                <button type="submit">Create Thread</button>
            </div>
        </form>
    {% else %}
        <div class="login-prompt">
            <p>You need to <a href="{{ url_for('auth.login') }}">login</a> or 
               <a href="{{ url_for('auth.register') }}">register</a> to create threads.
            </p>
        </div>
    {% endif %}

    {% for thread in threads %}
        <div class="board-thread-preview">
            <!-- Upvotes/downvotes -->
            <div class="vote-buttons" data-type="thread" data-id="{{ thread.id }}">
                <button class="vote upvote">▲</button>
                <span class="score">{{ thread.score }}</span>
                <button class="vote downvote">▼</button>
            </div>

            <a class="preview-content" href="{{ url_for('main.thread', board_name=board.name, thread_id=thread.id) }}">
                <div class="preview-top">
                    <h3>{{ thread.subject }}</h3>
                    <p>({{ thread.posts|length }} responses)</p>
                </div>

                <div class="preview-bottom">
                    {% if thread.image_path %}
                        <img src="{{ url_for('static', filename='uploads/' + thread.image_path) }}" alt="Thread image">
                    {% endif %}

                    <p>{{ thread.content }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
